<div class="page-header">
    <h1><%= @title %> <small>nos gusta recibir sugerencias</small></h1>
</div>

<p>Nos pueden <a href="mailto:freeculture@uprm.edu?Subject=Colegio%20Democrático">contactar</a> a través de nuestro correo electrocnico </p>
