<div class="page-header">
    <h1><%= @title %> </h1>
</div>


<h3>A toda la Comunidad Universitaria:</h3>

<p>Free Culture @UPRM te invita a participar del Simulacro electoral para escoger al
candidato a Rector de nuestro Recinto.</p>

<p>¡Reclama el control de tu universidad a través de la participación informada! No
nos permiten escoger a nuestro rector de manera directa, pero haremos valer nuestra
opinión. Regístrate en colegiodemocrati.co antes del 27 de octubre de 2011.</p>

<p>¡VOTEMOS!</p>

<p>Los resultados se publicarán el lunes 31 de octubre en <a href="http://blogs.uprm.edu/freeculture.">nuestro blog oficial</a>.</p> 

<p>Proponemos que la elección a Rector de nuestro Recinto se lleve a cabo de manera
libre, abierta y justa en donde los estándares de elección sean la capacidad y las
propuestas que contribuyan al bienestar de la comunidad universitaria y no en un
ambiente cerrado, arbitrario y controlado por aquellos que tienen poder sobre nuestra
Universidad.</p>

<h3>¿Cómo sabremos que la votación es confiable?</h3>

<p>La elección se hará en la plataforma de Selectricity, la máquina de votar para las
masas, que es un proyecto libre y de código abierto desarrollado en el Massachusetts
Institute of Technology (MIT) Civic Media Lab. Free Culture @UPRM solo tendrá
acceso al panel de administración de la votación y no podrá modificar los resultados
de las elecciones ya que el software y la base de datos están siendo operados por un
tercero: <a href="http://selectricity.org">Selectricity.org</a></p>

<h3>¿Cómo registrarse para votar?</h3>
<p>Los/as participantes podrán registrarse para la votación en la página web <a href="http://colegiodemocrati.co">ColegioDemocrati.co</a>. La página web también tiene el propósito de educar a la
comunidad universitaria sobre las propuestas de los diferentes candidatos.</p>

<h3>¿Cuándo registrarse?</h3>
<p>El proceso de registro para la elección será l desde el lunes 24 de octubre de 2011
hasta el jueves 27 de octubre.</p>

<h3>¿Cuándo se podrá votar?</h3>
<p>Desde el jueves 27 de octubre en la noche hasta el domingo 30 de octubre a las 10
PM.</p>

<h3>¿Dónde se publicaran los resultados?</h3>
<p>Los resultados de la elección serán publicados el lunes 31 de octubre en nuestro blog
oficial: http://blogs.uprm.edu/freeculture.</p>
