<div class="hero-unit">
  <h1>¡Votemos!</h1>
  <p>Actualmente la comunidad Universitaria no puede elegir democráticamente a su rector o rectora. Pero eso no nos cohíbe de expresar nuestras preferencias. Vota para dejar saber tus preferencias, ¿cuales piensas que realmente son los mejores candidatos? </p>

<p>
	<%= link_to("Ver Candidatos", all_path, :class=> "btn primary large") %>
	<%=  link_to("Registrarme para Votar", "https://docs.google.com/spreadsheet/viewform?formkey=dGhwTV9HOGlMM2RSQ0J6Z2RSV3REdlE6MQ#gid=0", :class=> "btn success large pull-right") %>
</p>

</div>
