<div class="hero-unit">
  <h1>¡Votemos!</h1>
  <p>¡Reclama el control de tu universidad a través de la participación informada! Actualmente, no nos permiten escoger a nuestro rector de manera directa pero eso no nos detiene  de expresar nuestras preferencias. Haz valer tu opinión. ¿Cuáles piensas que son los mejores candidatos?</p>

<p>
	<%= link_to("Ver Candidatos", all_path, :class=> "btn primary large") %>
	<%= link_to("Registrarme para Votar", "https://docs.google.com/a/upr.edu/spreadsheet/viewform?hl=en_US&pli=1&formkey=dFhpTnA3U1NySUJtZTh2b1FHQi1ZWGc6MQ#gid=0", :class=> "btn success large pull-right") %>
</p>

<p><%= link_to("Noticia en Primera Hora", "http://www.primerahora.com/organizacionestudiantildemayaguezinvitaaeleccionesparaescogerrector-570986.html", :class=> "btn error large pull-right") %></p>

</div>
