<div class="hero-unit">
  <h1>¡Votemos!</h1>
  <p>¡Reclama el control de tu universidad a través de la participación informada! Actualmente, no nos permiten escoger a nuestro rector de manera directa pero eso no nos detiene  de expresar nuestras preferencias. Haz valer tu opinión. ¿Cuáles piensas que son los mejores candidatos?</p>

<p>
	<%= link_to("Ver Candidatos", all_path, :class=> "btn primary large") %>
	<%=  link_to("Registrarme para Votar", "https://docs.google.com/spreadsheet/viewform?formkey=dGhwTV9HOGlMM2RSQ0J6Z2RSV3REdlE6MQ#gid=0", :class=> "btn success large pull-right") %>
</p>

</div>
