<div class="hero-unit">
  <h1>¡Votemos!</h1>
  <p>¡Reclama el control de tu universidad a través de la participación informada! Actualmente, no nos permiten escoger a nuestro rector de manera directa pero eso no nos detiene  de expresar nuestras preferencias. Haz valer tu opinión. ¿Cuáles piensas que son los mejores candidatos?</p>

  <p><strong>Estamos en proceso se votación</strong>, verifiquen su correo @upr.edu y voten en el email titulado: "VERSION CORRECTA Y FINAL - Simulacro electoral para escoger al candidato a Rector de nuestro Recinto". Gracias!</p>

<p>
	<%= link_to("Ver Candidatos", all_path, :class=> "btn primary large") %>
<%= link_to("Noticia en Primera Hora", "http://www.primerahora.com/organizacionestudiantildemayaguezinvitaaeleccionesparaescogerrector-570986.html", :class=> "btn error large pull-right") %></p>

</div>
