<section id="media">
<div class="page-header">
  <h1><%= @title %></h1>
</div>
<!-- Table structure -->
<div class="row">
  <div class="span16">
    <h3>Sobre los Candidatos</h3>
    <p>Conoce los candidatos y sus respectivas contestaciones a las preguntas formuladas por el Comité de Búsqueda y Consulta del Recinto Universitario de Mayagüez. Para más información sobre el Comité de Búqueda y Consulta visite <%= link_to "la página oficial", "https://www.uprm.edu/consultarector/"%> 
</p>
  </div>
</div>
<div class="row">

  <% candidates = get_candidates %>
  <% list = get_random_list(candidates) %>
  <% list.each do |element| %>
    <% name = candidates[element][0] %>
    <% path = candidates[element][1] %>

    <div class="span-one-sixth">
      <p><h4>Dr. <%= name %></h4></p>
      <p class="media-grid">
      <%= link_candidate(get_linkable_name(name),path,"128x150") %>
      </p>
    </div>

  <%end%>

</div><!-- /row -->
</section>
