<section id="media">
<div class="row">
  <!-- Table structure -->
  <div class="span3">
    <p class="media-grid">
    <%= image_candidate(get_linkable_name(@title),"135x170") %>
    </p>
  </div>
  <div class="span13">
    <h1><%= @title %></h1>
    <p>Thumbnails in the <code>.media-grid</code> can be any size, but they work best when mapped directly to the built-in Bootstrap grid system. Image widths like 90, 210, and 330 combine with a few pixels of padding to equal the <code>.span2</code>, <code>.span4</code>, and <code>.span6</code> column sizes.</p>
  </div>
</div>
<div class="page-header">
  <h1>Preguntas</h1>
</div>

<div class="row">
  <div class="span16">

    <dl>

      <dt><h3>¿Qué representa para usted ser Rector del Recinto Universitario de Mayagüez?</h3></dt>


      <dd><p>La posición de Rector es un privilegio y reconocimiento otorgado a aquel que reúna los requisitos establecidos y cuente con los talentos y capacidades necesarios para dirigir las riendas de este reconocido y prestigioso Recinto Universitario de Mayagüez. Siendo un privilegio no debe verse como algo por lo cual se compite y se gana, sino como una distinción de sus pares en la facultad así como de sus compañeros no docentes. La posición de Rector es una de liderazgo y servicio. De liderazgo pues siendo la autoridad nominadora de la institución debe dirigir las riendas y destino del Recinto hacia un futuro de desarrollo y beneficio colectivo para su facultad, empleados y estudiantes, manteniendo responsablemente la excelencia académica en un contexto institucional y financiero complicado, salvaguardando siempre la integridad, honradez, verticalidad y compromiso para con nuestro querido recinto. De servicio, porque el bienestar de sus compañeros de facultad, empleados y estudiantes deben estar por encima del suyo propio, siendo ejemplo intachable de continuo esfuerzo par mejorar y aprender de los errores del camino trazado. El Rector tiene el reto de promover y apoyar los cambios curriculares y de organización que puedan impulsar un mejor servicio al país y a la educación de nuestra juventud. Un buen líder es aquel que primeramente, ha estado bajo autoridad y en segundo lugar es servidor. Por tal razón, ser Rector representa un alta responsabilidad, primeramente ante Dios y luego ante las personas bajo su autoridad, a los cuales deber rendir cuentas de sus acciones y ejecutoria en el ejercicio de sus deberes. El Rector debe sentir satisfacción de contar con un cuerpo docente del más alto calibre, un personal administrativo comprometido y una base estudiantil de gran talento, calidad y motivación.</p></dd>

      <dt><h3>Describa cómo ha sido su relación con la comunidad universitaria: estudiantes, personal docente y no-docente.  Ofrezca ejemplos relevantes y comente cómo esa experiencia podría ayudarle en su gestión como Rector.</h3></dt>


      <dd><p>Mi relación con la comunidad universitaria dio comienzos en el 1975 cuando llegué al Recinto como estudiante del programa de traslado de ingeniería desde el Colegio Regional de Bayamón. Estos años de estudios sub-graduados me permitieron entender las necesidades y preocupaciones específicas de los estudiantes del Recinto. En adición, los años de estudios graduados a nivel de maestría en el Departamento de Ingeniería Civil añaden a estas experiencias enriquecedoras como estudiante. Comencé como instructor en el Departamento de Ingeniería General donde tuve mis primeras experiencias con mis compañeros de facultad trabajando juntos en diversos comités departamentales y de facultad, y en proyectos de servicio (v.g. planiﬁcación, diseño, administración y desarrollo de centros de cómputos para estudiantes).</p></dd>

      <dd><p>Luego, como profesor en el Departamento de Ingeniería Civil, tuve, y sigo teniendo, la experiencia de trabajar como miembro de varios comités de departamento y facultad (v.g. comité de computación, representante departamental ante el Consejo Graduado, coordinador del área de Ingeniería Ambiental y de Recursos de Agua). Como coordinador de área tuve una relación directa y muy estrecha con mis compañeros de facultad. Entre mis labores estaba la de preparar el ofrecimiento de cursos, asignación de cursos a los profesores y horarios correspondientes, para luego ser sometidos al Director de departamento.</p></dd>

      <dd><p>He ocupado varias posiciones administrativas y de investigación que me han permitido contacto directo con docentes, administradores, empleados y estudiantes (director asociado departamental, decano auxiliar de investigación, dos posiciones de decano, director de centro de investigación, director de CID, etc.). Como profesor he tenido una relación directa con estudiantes sub-graduados y graduados en mi área de especialidad y otras relacionadas. He dirigido proyectos de investigación sub-graduada, de proyectos de maestría y tesis de maestría y doctorales. Como Director del CID me relacioné directamente con las diversas situaciones y problemas que aquejan a nuestros investigadores en el RUM.</p></dd>

      <dd><p>Como Rector interino he tenido relación directa con diversos grupos estudiantiles como asociaciones de estudiantes y el Consejo General de Estudiantes. Durante el conflicto estudiantil me mantuve accesible a los estudiantes reuniéndome con el comité negociador para escuchar sus preocupaciones y buscar soluciones a las mismas. Apové una iniciativa de las asociaciones de estudiantes cristianos para llevar a cabo un evento para traer paz y tranquilidad a Ia comunidad estudiantil mediante charlas motivadoras y música cristina.</p></dd>

      <dd><p>He promovido una comunicación abierta y franca hacia los diferentes componentes de la comunidad universitaria. Ejemplo de esto fue un mal entendido entre los miembros del comité de personal del Departamento de Biología y este servidor, relacionada a la percepción de que desde mi posición como autoridad nominadora estaba tratando de establecer prioridades en el reclutamiento de personal docente. El mismo fue atendido inmediatamente reuniéndome con los miembros del comité y aclarando el asunto en una manera abierta, clara y sincera. También he atendido a grupos de senadores para varios asuntos y empleados con diversas situaciones laborales, como lo fueron personal de la Oﬁcina de la Registradora, Biblioteca y con oﬁciales de seguridad.</p></dd>

      <dd><p>También he tenido relación directa con varios gremios (Federación Laborista de Empleados del RUM, Hermandad de Empleados Exentos No Docentes, la Unión Bonaﬁde de Oficiales de Seguridad y el Sindicato de Empleados de la UPR) para atender reclamos y situaciones relacionadas a los convenios colectivos. Mi postura de puertas abiertas y transparencia de la administración para con la facultad del Recinto ha quedado demostrada al presentar el presupuesto del RUM ante las diferentes facultades y el Senado Académico. La realización de reuniones de claustro demuestra de igual forma esta postura.</p></dd>

      <dd><p>Toda esta relación con los diferentes componentes de la comunidad universitaria me capacita para la ejecutoria de los deberes y funciones del Rector de RUM. Mi gestión como Rector en propiedad continuará siendo una de comunicación amplia, transparente y sincera para con mis compañeros de labores en la facultad, para con los empleados no docentes y en especial, para con nuestros estudiantes.</p></dd>

      <dt><h3>¿Qué experiencias lo cualifican a usted para ser Rector del Recinto Universitario de Mayagüez?</h3></dt>

      <dd><p>Para ocupar la posición de Rector el candidato debe tener amplia experiencia en las áreas de la docencia, administrativa, de servicio y de investigación. Mi trayectoria a través de los 25 años de servicio en esta distinguida institución me ha brindado la oportunidad de vivir muchas experiencias que me cualifican para ocupar la posición de Rector. Estas experiencias cubren las áreas mencionadas anteriormente y fueron adquiridas mediante las diferentes funciones y puestos administrativos ocupados en el RUM. Estos Incluyen...</p></dd>

a. Director Asociado del Departamento de Ingeniería General
b. Director del Instituto de Investigaciones sobre Recursos de Agua y el Ambiente de PR
c. Decano Auxiliar de Investigación del Colegio de lngeniería
d. Decano interino de Ingeniería
e. Decano Interino de Asuntos Académicos
f. Director del Centro de Investigación y Desarrollo del RUM
g. Rector Interino

Mi experiencia administrativa incluve...
a. Manejo de la crisis presupuestaria con una reducción de más de $20 millones.
b. Cuadre y cierre de presupuesto balanceado a ﬁn de año.
c. Manejo del conflicto estudiantil
d. La dirección y liderazgo en el proceso de sacar al RUM de la probatoria de la MSCHE.
e. Impulso y defensa de nuevos programas de maestría y doctorado.

      <dd><p>En el área de la docencia con 25 años de servicio, he creado cursos nuevos (Mediciones Hidrológicas v Hidráulicas de Campo, Manejo Integrado de Cuencas Hidrográﬁcas, Análisis de Impacto Ambiental, Simulación Hidrológica por computadoras) y he enseñado sobre 10 cursos diferentes (Gráﬁcas de Ingeniería, Algoritmos de Programación, Mecánica Estática, Mecánica Dinámica, Mecánica de los Fluidos, Laboratorio de Fluidos, Introducción a la Ingeniería de Recursos de Agua, Introducción a la Ingeniería Ambiental, Introducción a la Hidrología, Sistemas de Recursos de Agua, Mediciones Hidrológicas y  Hidráulicas de Campo, Manejo Integrado de Cuencas Hidrográﬁcas, Análisis de Impacto Ambiental, y Simulación Hidrológica por Computadoras). He atendido y graduado sobre 10 estudiantes de maestría, tres estudiantes doctorales y participado en un sinnúmero de comités graduados para otros estudiantes como miembro del comité y como representante de la Oficina de Estudios Graduados. He participado en la revisión curricular del programa de Ingeniería Civil y dirigido la evaluación y recomendación de solicitudes de ingreso para estudiantes graduados en el departamento.</p></dd>

      <dd><p>En el área de la investigación he realizado sobre 15 provectos como investigador principal con fondos acumulados de sobre $2 millones para diferentes agencias federales, estatales y municipales, así como para el sector privado (USGS, USEFA, FEMA, PRASA, DRNA, PREQB, PREPA, Municipio de Mayagüez, Municipio de Añasco, CDM, etc). También he sido asesor técnico para la desaparecida ARPE, DRNA y la Oficina del Contralor de Puerto Rico. He sido invitado como evaluador de propuestas para el USGS y los centros de investigaciones sobre recursos de agua de la Islas vírgenes y New Hampshire. En el área de divulgación he participado en diversas conferencias y simposios internacionales, he sido “General Chair" de dos simposios y congresos y "Co-Chair“ en uno en el área ambiental y de recursos de agua y miembro honorario de la Junta de Editores de la “Encyclopedia of Life Support Svstems”, proyecto subvencionado por la UNESCO. Al  presente soy delegado de la University Council on Water Resources”, organización que reúne cientíﬁcos de todas las universidades de EEUU en el área de los recursos de agua y miembro activo de la "National lnstitutes of Water Resources”.</p></dd>

      <dd><p>En el área de servicio público trabajé como miembro del Comité para el Desarrollo del Plan Integral de los Recursos de Agua de PR y soy miembro del Comité lnteragencial para el Manejo de los Recursos de Agua de PR. También he participado en varios foros comunitarios para la protección del Ambiente y los recursos de agua.</p></dd>

      <dd><p>En el área de la práctica privada, he fungido como consultor, perito y comisionado especial en los tribunales de PR.</p></dd>

      <dt><h3>Dada la naturaleza, complejidad y extensión de nuestro Recinto que incluye cuatro distintas Facultades, la Estación Experimental Agrícola y el Servicio de Extensión Agrícola; a su juicio, ¿cuáles son las necesidades apremiantes del Recinto? De ser nombrado Rector, ¿cómo comenzaría a atenderlas?</h3></dt>

      <dd><p>De primera instancia, las necesidades apremiantes del Recinto estarían asociadas a la falta de unidad, motivación y limitada autonomía.</p></dd>

      <dd><p>La unidad se puede lograr al deﬁnir trayectorias de avance y desarrollo claras para la institución, donde todos tengamos la oportunidad de aportar y participar. Necesitamos el desarrollo y aprobación de un nuevo plan estratégico institucional que nos presente la oportunidad de evaluar donde estamos y hacia donde queremos ir. La planiﬁcación académica y presupuestaria nos brinda las herramientas necesarias para implantar el plan estratégico y la preparación del próximo autoestudio para la MSCHE nos dará la información requerida para analizar el desempeño de la ejecutoria colectiva de nuestra comunidad universitaria en varias áreas como la administración, academia y gobierno.</p></dd>


      <dd><p>La motivación es necesaria en los tiempos de incertidumbre y sacrificios. Deﬁnitivamente que el esfuerzo realizado por nuestra facultad y personal no docente, así como de nuestros estudiantes, requieren de mecanismos para reconocer y valorar dichos esfuerzos y la calidad en el desempeño. Todavía nos quedan tiempos difíciles, pero con la motivación correcta y las acciones efectivas dirigidas a la recuperación y recobro, laborando todos unidos, lograremos sostener la calidad y excelencia de la educación de nuestro querido Recinto.</p></dd>

      <dd><p>Lograr una mayor autonomía es un elemento crítico para el desarrollo y funcionamiento de nuestro Recinto. Yo creo firmemente que nuestro Recinto está más que capacitado para ejercer una autonomía académica y administrativa. La autonomía académica y administrativa necesita ser reiterada por todas las esferas del Recinto, consistentemente en todo lo que hacemos. Necesitamos actuar como una entidad autónoma en cada uno de los niveles: los programas, departamentos, facultades, el Senado Académico y la Junta Administrativa. Sin embargo, una autonomía fiscal está un poco más lejos de lograrse. Necesitamos continuar en una trayectoria de disciplina ﬁscal, de análisis y de consensos sobre las medidas de control de gastos y las prioridades en la asignación de los recursos fiscales. La autonomía ﬁscal requiere que redoblemos nuestros esfuerzos para aumentar los ingresos propios del Recinto.</p></dd>

      <dt><h3>Sin recurrir a consideraciones económicas, ¿qué otras áreas del ámbito universitario entiende usted que merecen prioridad? ¿Cómo específicamente las trabajaría?</h3></dt>

      <dd><p>Las actividades de creación e investigación - Se requiere un mavor apoyo facilitando los procesos administrativos y reconociendo el valor de estas actividades. Tenemos que implantar nuevos esquemas administrativos que sean más eﬁcientes y que beneﬁcien al investigador, a la vez que salvaguarden el cumplimiento con los reglamentos y leves federales y locales.</p></dd>

      <dd><p>Ofrecimientos académicos - Nuestros estudiantes necesitan una educación que les prepare para el mundo de hoy y del futuro. Es imperativo que revisamos la cantidad y calidad de nuestros ofrecimientos atemperándolos a los requerimientos cada vez más exigentes del mercado laboral. Esto se puede lograr mediante iniciativas de programas de certiﬁcaciones y secuencias curriculares, obviando así, los trámites tediosos y lentos de la burocracia universitaria.</p></dd>

      <dd><p>Infraestructura física y tecnológica - Esta no ha sido mantenida ni actualizada adecuadamente a través de los años. Debe ser una prioridad en el plan estratégico de la institución.</p></dd>

      <dd><p>Actividades que enriquezcan a nuestros estudiantes como seres humanos y que hagan la experiencia universitaria mucho más que una extensión de la educación escolar.</p></dd>

      <dt><h3>¿Cómo cree usted que el personal docente del RUM se ha afectado con las medidas cautelares y otras decisiones ejecutivas recientes?  ¿Qué acciones específicas tomaría para motivar y retener a los miembros de la Facultad del Recinto?</h3></dt>

      <dd><p>El claustro del Recinto se ha visto muy afectado. Para mencionar solamente algunos de los aspectos, nuestra remuneración real se ha visto reducida en el orden de 15%, el personal docente es el que más directamente vive y recibe las quejas con la situación de deterioro de algunas de nuestras facilidades y con otras condiciones de la planta física, vivimos en una situación de incertidumbre respecto a Ia situación ﬁscal, tenemos la percepción que hemos terminado recibiendo como docentes la mayor parte de las consecuencias de las medidas fiscales y administrativas asociadas a la crisis y hemos vista reducida nuestra productividad.</p></dd>

      <dd><p>Estamos perdiendo algunos de nuestros mejores profesores, entre ellos, la facultad joven, recién doctorada, altamente productiva y en los cuales se había invertido enviándolos a estudiar o se habían seleccionado después de largos y cuidadosos procesos de búsqueda. Se necesita incentivar v premiar la productividad y excelencia de estos profesores. En las esferas de creación e investigación, existe reglamentación reciente que permite una mayor ﬂexibilidad en las métricas de la productividad y los mecanismos de compensación o remuneración de estos docentes. En este contexto, tanto a nivel de departamentos como de las facultades se podrá identificar los recursos y las estrategias para ofrecer una remuneración más justa para la facultad más productiva.</p></dd>

      <dd><p>Nos comprometemos a continuar identificando y reservando el presupuesto recurrente necesario para que la Junta Administrativa del RUM pueda otorgar los ascensos docentes. Nos comprometemos además a presentar, promover y lograr que las esferas concernidas aprueben ﬁnalmente algunos programas graduados que han estado pendientes de aprobación por mucho tiempo y sin los cuales tampoco podemos retener a los investigadores exitosos que tenemos entre nuestra facultad más joven.</p></dd>

      <dd><p>Una herramienta importante para lograr mejorar las condiciones de nuestra facultad es desarrollar e implantar estrategias para aumentar nuestros ingresos propios para poder ofrecer apoyo a proyectos o iniciativas de esta facultad y lograr condiciones de trabajo adecuadas.</p></dd>

      <dt><h3>¿Cómo usted visualiza su relación con la Junta de Síndicos y el Presidente de la Universidad de Puerto Rico y con el gobierno central, en defensa de los intereses particulares y apremiantes del RUM?</h3></dt>


      <dd><p>Una relación directa y clara es fundamental entre el Rector y los cuerpos superiores para realizar una defensa adecuada de los intereses y bienestar del Recinto. Como principal funcionario ejecutivo y portavoz de la comunidad universitaria del RUM, el Rector debe asumir el rol de insistir y luchar por el bienestar el Recinto y por justificar los reclamos de nuestra comunidad. La comunicación directa con estos cuerpos gobernantes es esencial. El Rector debe tener la habilidad de lograr esta comunicación y sostenerla. Durante mi incumbencia como Rector Interino he logrado crear estos vínculos de comunicación con la ex presidenta y varios miembros de la Junta de Síndicos. Ya he solicitado audiencia con el nuevo presidente para conocerle y establecer también una comunicación directa. En cuanto al Presidente, tengo acceso directo y muy buena relación con él.</p></dd>

      <dd><p>La relación del Recinto con el gobierno central debe ser manejada con mucho cuidado. La autonomía que reclamamos los universitarios requiere que como institución nos mantengamos suﬁcientemente alejados de los asuntos orientados por consideraciones de política partidista. De otra parte, como la institución de educación superior del Pueblo de Puerto Rico, tenemos el deber de asesorar, apoyar y educar a los funcionarios públicos y al gobierno sobre las consideraciones científicas, sociales, tecnológicas, económicas  y administrativas en las que somos expertos. El Recinto Universitario de Mayagüez ha tenido y debe continuar fomentando la participación y las divulgación de expresiones de sus diferentes cuerpos, necesarias para educar, apoyar o alertar los funcionarios del gobierno central sobre diferentes iniciativas.</p></dd>

      <dt><h3>Si fuera recomendado por este comité y nombrado por el Presidente como próximo rector del RUM, ¿cuál sería el rol de los siguientes elementos en el gobierno interno del RUM bajo su mandato: el “Staff” del Rector, la Junta Administrativa, el Senado Académico, la Oficina del Asesor Legal, la Administración Central y la Junta de Síndicos?</h3></dt>

      <dd><p>Los roles y del Senado Académico, la Junta Administrativa, y la Junta de Síndicos están claramente definidos por la ley y el reglamento, por lo cual se estaría respetando la autoridad correspondiente de cada uno de estos cuerpos. En nuestro Recinto el Senado Académico y la Junta Administrativa son los dos foros principales donde se deben discutir y evaluar los asuntos institucionales bajo sus respectivas esferas de autoridad. En el futuro inmediato tendremos en agenda trabajar en el proyecto de presupuesto del Recinto para el próximo año fiscal, la evaluación y aprobación del nuevo plan estratégico del Recinto, los trabajos de la próxima visita de acreditación, la creación de la Oﬁcina de Profesores y Académicos Internacionales, además de los asuntos típicos en nuestra agenda y los que nos son referidos por la comunidad universitaria.</p></dd>

      <dd><p>En estos momentos, la Administración Central rige varias actividades de carácter académico, administrativo y de investigación. Se han hecho reclamos sobre algunos obstáculos que implican los requisitos y procedimientos establecidos por la Administración Central, así como algunas acciones que se consideran fuera de su ámbito de autoridad. En esos contextos, el Rector debe hacer un balance cuidadoso de su función como principal funcionario ejecutivo del Recinto y como miembro del cuerpo gerencial a cargo de la administración de la Universidad como sistema. Nuestra estrategia ha sido una de identiﬁcar y cultivar aliados en las diferentes vicepresidencias, la Oficina de Presupuesto y de Finanzas, así como en la oficina del Presidente para que nos ayuden a adelantar nuestros intereses y atender nuestras necesidades.</p></dd>

      <dd><p>La función principal de la Oficina del Asesor Legal es asesorar al Rector en aspectos legales inherentes al Recinto. En el pasado esta oficina se ha visto demasiado envuelta en tender asuntos legales de empleados y profesores. Este rol ha tenido que ser limitado a aquellos casos que no impliquen conflictos de interés ni la utilización de recursos públicos para fines privados. Como parte de las estrategias de reducción de gastos operacionales, el presupuesto asignado a esta oﬁcina se ha reducido a menos de la mitad de lo que había sido históricamente, para poder dirigir los recursos financieros del Recinto a áreas de mayor prioridad como lo es la academia. Es necesario continuar evaluando estas funciones, y la deseabilidad de expandir las mismas y mantener informada a la comunidad sobre los servicios que pueden recibir en esta oﬁcina. Como estrategia inmediata se están programando varios talleres de capacitación al personal en puestos administrativos y a oficiales de ciertas dependencias en particular para atender algunas dudas sobre trámites reglamentarios o asociados a nuestros protocolos internos. Conﬁamos que este esfuerzo educativo sirva para dar un mayor alcance a esta oficina, y se pueda atender individualmente el conjunto de asuntos que realmente requieren asesoría legal.</p></dd>

      <dd><p>El personal directivo y de apoyo (staff) del Rector es una pieza clave en el avance de las iniciativas de la administración y la comunidad universitaria. Reconocemos que el adelanto de la agenda del Recinto también depende de que el personal directivo y de apoyo este capacitado y comprometido con las iniciativas del Rector. Es un personal de confianza y sujeto a evaluación.</p></dd>

    </dl>

  </div>
</div><!-- /row -->
</section>
