<footer class="footer">
  <div class="container">
	<p class="pull-right">
		<a href="#">Back to top</a>
	</p>
	<p>	
		<%= link_to "About", about_path %> - 
		<%= link_to "Contact", contact_path %>
	</p>
  </div>
</footer>

<!-- &copy; Carlos Andreu 2011 -->

<script>var _gaq=[['_setAccount','UA-4578785-1'],['_trackPageview']];(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.src='//www.google-analytics.com/ga.js';s.parentNode.insertBefore(g,s)}(document,'script'))</script>